<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.studacm.sync.dao.SolutionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.studacm.sync.entity.Solution">
        <id column="solution_id" property="solutionId" />
        <result column="problem_id" property="problemId" />
        <result column="user_id" property="userId" />
        <result column="contest_id" property="contestId" />
        <result column="take_time" property="takeTime" />
        <result column="take_memory" property="takeMemory" />
        <result column="pro_lang" property="proLang" />
        <result column="code_length" property="codeLength" />
        <result column="sub_time" property="subTime" />
        <result column="result" property="result" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        solution_id, problem_id, user_id, contest_id, take_time, take_memory, pro_lang, code_length, sub_time, result
    </sql>

</mapper>
